* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: darkred;
    font-size: 1.25em;
}

.jumbotron {
    background-image: url("img/34-1.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

/*--------------card style---------------------*/

.card-body {
    padding: 10px;
    font-size: .9rem;
}

.card {
    width: 250px;
    height: 400px;
    margin: 10px;
    border: 5px solid #754e0a;
    padding: 10px;
    /*background-color: #002B80;*/
    border-radius: 5%;
    background-color: #c8980a;
}

.company-card {
    height: 400px;
}

/*---------------card grid----------------------*/
.main-container {
    max-width: 1100px;
    margin: 0 0 0 10%;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.card button {
    background-color: darkred;
    border-color: black;
    color: #c8980a;
    border-radius: 5px;
    margin-top: 5px;
}


/*--------------add card--------------*/
#addCard {
    font-size: 150px;
    text-align: center;
}


/********************************Modal Style******************************/
#pictureHolder {
    height: 250px;
    width: 180px;
    margin-right: 0 !important;
}

.moviePoster {
    height: 100%;
    width: 100%;
    display: block;
    border: 3px solid darkred;
    border-radius: 5px;
    margin-bottom: 5px;
    /*margin-top: 5px;*/
    margin-left: 5%!important;
}


.modal {
    color: lightgray;
}

.modal input {
    padding: 5px;
}

.modal-content {
    background-color: darkred;
    border: 5px solid goldenrod;
    border-radius: 5px;
    text-align: center;

}

.modal-body {
    margin: 2px;
    padding: 2px;
}

.fileInput {
    display: inline-block;
    margin-left: 18%;
}

#addMovieTitle {
    width: 95%;
}

.deleteMovie {
    margin-left: 60%;
}

.editMovie {
    margin-right: 60%;
}

.card-text {
    height: 75px;
}

.card {
    display: flex;
}